gh/
go
bhop
bhop/db/*
bhop/scripts/*
fish/fish_variables
.DS_Store
**/.DS_Store
*.patch
**/.venv
**/venv
**/_generated*
**/**/_generated*
**/*.swp
**/cigna*
fish/locals/cigna_certs.fish
fish/fish_variables
fish/certs.fish
